$primary-color:#486878;
$primary-outline-color:#385868;
$primary-words-color:#ebebeb;
$secondary-color:#ACE5F2;
$secondary-words-color:#090909;
$background-color:#1c1c23;
$border-color:#366349;
$gutter-color:#2f4a57;
$faded-text-color:#ACE5F2;
$log-icon-color:#403F2E;
$log-icon-text-color:#ebebeb;
$text-color:#ebebeb;
$box-background-color:#101015;
$box-words-color:#ebebeb;
